:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547; /* 基本の文字色 (ライトモード) */
  background-color: #ffffff; /* 基本の背景色 (ライトモード) */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ダークモードに対応する場合の設定
*/
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}